<a href="https://colab.research.google.com/github/DanishHaji/Python-Exam-Preparation/blob/main/Python_Exam_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types**

### **1-Numeric Data**

### **a. Integer (int)**

In [ ]:
num: int = 10
print(type(num), "num = ", num)

<class 'int'> num =  10

### **b.Floating-Point (float)**

In [ ]:
num_float: float = 3.142
print(type(num_float), "num_float = ", num_float)

<class 'float'> num_float =  3.142

### **c. Complex (complex)**

**Numbers with real and imaginary part.**

In [ ]:
num_complex: complex = 2 + 3j
print(type(num_complex))
print(num_complex)
print(num_complex.real)
print(num_complex.imag)

<class 'complex'>
(2+3j)
2.0
3.0

# **Strings**

In [ ]:
my_string: str = "My name is Danish"
words = my_string.split()
print(words)
print(my_string[7:])
print(my_string[0:7])

['My', 'name', 'is', 'Danish']
 is Danish
My name

In [ ]:
x = 10
del x
print(x)

NameError: name 'x' is not defined

In [ ]:
fruits: list = ["apple","banna","orange"]
for fruit in fruits:
  print(fruit)

apple
banna
orange

In [ ]:
words:str = 'Python'
for word in words:
  print(word)

P
y
t
h
o
n

In [ ]:
numbers:int = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
  print(num)
else:
  print("List is completed")

1
2
3
4
5
6
7
8
9
10
List is completed

In [ ]:
numbers:int = [1,3,5,7,9,11,13,15]
for num in numbers:
  print(num)
  if num == 7:
    print("Breaking the loop!")
    break
else:
  print("List is completed")

1
3
5
7
Breaking the loop!

In [ ]:
count:int = 1
while count <= 5:
  print(count)
  count += 1

1
2
3
4
5

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [ ]:
x = 5
for i in range(x):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
1+2+3+4

10

In [ ]:
result = not False or False and True
print(result)

True

In [ ]:
print(“” and “hello world”)

SyntaxError: invalid character '“' (U+201C) (<ipython-input-21-e2de610238e7>, line 1)

In [ ]:
5 / 0

ZeroDivisionError: division by zero

In [ ]:
fruits = [“mango”, “banana”, “orange”]
for fruit in fruits:
        print(fruit, end=” ”)

SyntaxError: invalid character '“' (U+201C) (<ipython-input-26-44cce6bac911>, line 1)

In [ ]:
def hello():
     for num in range(10, 0):
              print(f'you are in range {num}')
hello()

In [33]:
for i in range(1, 7):
    if i % 2 == 0:
        continue
    if i > 4:
        break
    print(i, end=" ")

1 3

In [35]:
word = "Quiz"
for letter in word:
      print(letter)

Q
u
i
z

In [37]:
age = 17
is_fasting = False
if age >= 18 or (age >= 16 and is_ fasting):
    print("Eligible, you can EAT 😁")
else:
    print("Not Eligible, Fast today")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-37-ee61a0282d20>, line 3)

In [38]:
x = ""
if x or 0 or []:
    print("Truthy")
else:
    print("Falsy")

Falsy

In [39]:
def f():
    print("f() executed")
    return True

if False and f():
    print("Inside if")
else:
    print("Inside else")

Inside else

In [42]:
print("" and "hello world")

In [44]:
for num in range(3):
         print(num, end=" ")
else:
     print("continue")

0 1 2 continue

In [4]:
fruits:list = ["apple","banana","cherry"]
print(fruits[0])
print(fruits[-3])

apple
apple

In [6]:
fruits.append("mango")
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [7]:
fruits.extend("kiwi","orange")
print(fruits)

TypeError: list.extend() takes exactly one argument (2 given)

In [8]:
fruits.extend(["kiwi","orange"])
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange']

In [9]:
[char.upper() for char in "python" if char not in "aeiou"]

['P', 'Y', 'T', 'H', 'N']

In [12]:
[i**2 for i in range(5) if i % 2 != 0]

[1, 9]

In [14]:
[x for x in range(10) if x % 2 == 0 and x % 3 == 0]

[0, 6]

In [18]:
tuple("abc")

('a', 'b', 'c')

In [21]:
t = (1,2,3) + (4,)
print(len(t))

4

In [22]:
t = (1,2,3)
new_t = t * 2
print(new_t)

(1, 2, 3, 1, 2, 3)

In [23]:
thisdict: dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [24]:
for key in thisdict:
  print(key)

brand
model
year

In [29]:
for key, value in thisdict.items():
  print(key," : ",value)

brand  :  Ford
model  :  Mustang
year  :  2020

In [31]:
d:dict = {"a":1, "b":2, "c":3}
print(d["d"])

KeyError: 'd'

In [32]:
d = {"x":10, "y":20}
d["x"] = d["x"] + 5
print(d["x"])

15

In [33]:
d = dict()

In [36]:
d = {"x":100, "y":200}
print(d.get("z",0))

0

In [38]:
d = {}

In [39]:
d = {"a": 1, "b": 2, "c": 3}
print(d.popitem())

('c', 3)

In [1]:
d = {x: x%2 == 0 for x in range(4)}
print(d)

{0: True, 1: False, 2: True, 3: False}

In [7]:
fruits:list = [1,2,3,1,2,5,6,7,10,7]
fruits.sort()
print(fruits)

[1, 1, 2, 2, 3, 5, 6, 7, 7, 10]

In [10]:
lst:tuple = ([1,2,3],)
lst = ([1,2,3],[4,5])
print(lst)

([1, 2, 3], [4, 5])

In [12]:
lst_1(range(5,0,-1))

NameError: name 'lst_1' is not defined

In [16]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(2, 10)
numbers.pop(-1)
print(numbers)

[1, 2, 10, 3, 4]

In [17]:
a = (1,2,3)
b = (4,5)
c = a + b
print(c)

(1, 2, 3, 4, 5)

In [18]:
numbers = [10, 20, 30, 40]
numbers.append([50, 60])
print(numbers)

[10, 20, 30, 40, [50, 60]]

In [19]:
numbers = [0, 1, 2, 3, 4, 5, 6]
print(numbers[1:5:2])

[1, 3]