<a href="https://colab.research.google.com/github/DanishHaji/Python-Exam-Preparation/blob/main/Python_Exam_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types**

### **1-Numeric Data**

### **a. Integer (int)**

In [ ]:
num: int = 10
print(type(num), "num = ", num)

<class 'int'> num =  10

### **b.Floating-Point (float)**

In [ ]:
num_float: float = 3.142
print(type(num_float), "num_float = ", num_float)

<class 'float'> num_float =  3.142

### **c. Complex (complex)**

**Numbers with real and imaginary part.**

In [ ]:
num_complex: complex = 2 + 3j
print(type(num_complex))
print(num_complex)
print(num_complex.real)
print(num_complex.imag)

<class 'complex'>
(2+3j)
2.0
3.0

# **Strings**

In [ ]:
my_string: str = "My name is Danish"
words = my_string.split()
print(words)
print(my_string[7:])
print(my_string[0:7])

['My', 'name', 'is', 'Danish']
 is Danish
My name

In [ ]:
x = 10
del x
print(x)

NameError: name 'x' is not defined

In [ ]:
fruits: list = ["apple","banna","orange"]
for fruit in fruits:
  print(fruit)

apple
banna
orange

In [ ]:
words:str = 'Python'
for word in words:
  print(word)

P
y
t
h
o
n

In [ ]:
numbers:int = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
  print(num)
else:
  print("List is completed")

1
2
3
4
5
6
7
8
9
10
List is completed

In [ ]:
numbers:int = [1,3,5,7,9,11,13,15]
for num in numbers:
  print(num)
  if num == 7:
    print("Breaking the loop!")
    break
else:
  print("List is completed")

1
3
5
7
Breaking the loop!

In [ ]:
count:int = 1
while count <= 5:
  print(count)
  count += 1

1
2
3
4
5

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [ ]:
x = 5
for i in range(x):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
1+2+3+4

10

In [ ]:
result = not False or False and True
print(result)

True

In [ ]:
print(“” and “hello world”)

SyntaxError: invalid character '“' (U+201C) (<ipython-input-21-e2de610238e7>, line 1)

In [ ]:
5 / 0

ZeroDivisionError: division by zero

In [ ]:
fruits = [“mango”, “banana”, “orange”]
for fruit in fruits:
        print(fruit, end=” ”)

SyntaxError: invalid character '“' (U+201C) (<ipython-input-26-44cce6bac911>, line 1)

In [ ]:
def hello():
     for num in range(10, 0):
              print(f'you are in range {num}')
hello()

In [ ]:
for i in range(1, 7):
    if i % 2 == 0:
        continue
    if i > 4:
        break
    print(i, end=" ")

1 3

In [ ]:
word = "Quiz"
for letter in word:
      print(letter)

Q
u
i
z

In [ ]:
age = 17
is_fasting = False
if age >= 18 or (age >= 16 and is_ fasting):
    print("Eligible, you can EAT 😁")
else:
    print("Not Eligible, Fast today")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-37-ee61a0282d20>, line 3)

In [ ]:
x = ""
if x or 0 or []:
    print("Truthy")
else:
    print("Falsy")

Falsy

In [ ]:
def f():
    print("f() executed")
    return True

if False and f():
    print("Inside if")
else:
    print("Inside else")

Inside else

In [ ]:
print("" and "hello world")

In [ ]:
for num in range(3):
         print(num, end=" ")
else:
     print("continue")

0 1 2 continue

In [ ]:
fruits:list = ["apple","banana","cherry"]
print(fruits[0])
print(fruits[-3])

apple
apple

In [ ]:
fruits.append("mango")
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
fruits.extend("kiwi","orange")
print(fruits)

TypeError: list.extend() takes exactly one argument (2 given)

In [ ]:
fruits.extend(["kiwi","orange"])
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange']

In [ ]:
[char.upper() for char in "python" if char not in "aeiou"]

['P', 'Y', 'T', 'H', 'N']

In [ ]:
[i**2 for i in range(5) if i % 2 != 0]

[1, 9]

In [ ]:
[x for x in range(10) if x % 2 == 0 and x % 3 == 0]

[0, 6]

In [ ]:
tuple("abc")

('a', 'b', 'c')

In [ ]:
t = (1,2,3) + (4,)
print(len(t))

4

In [ ]:
t = (1,2,3)
new_t = t * 2
print(new_t)

(1, 2, 3, 1, 2, 3)

In [ ]:
thisdict: dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
for key in thisdict:
  print(key)

brand
model
year

In [ ]:
for key, value in thisdict.items():
  print(key," : ",value)

brand  :  Ford
model  :  Mustang
year  :  2020

In [ ]:
d:dict = {"a":1, "b":2, "c":3}
print(d["d"])

KeyError: 'd'

In [ ]:
d = {"x":10, "y":20}
d["x"] = d["x"] + 5
print(d["x"])

15

In [ ]:
d = dict()

In [ ]:
d = {"x":100, "y":200}
print(d.get("z",0))

0

In [ ]:
d = {}

In [ ]:
d = {"a": 1, "b": 2, "c": 3}
print(d.popitem())

('c', 3)

In [ ]:
d = {x: x%2 == 0 for x in range(4)}
print(d)

{0: True, 1: False, 2: True, 3: False}

In [ ]:
fruits:list = [1,2,3,1,2,5,6,7,10,7]
fruits.sort()
print(fruits)

[1, 1, 2, 2, 3, 5, 6, 7, 7, 10]

In [ ]:
lst:tuple = ([1,2,3],)
lst = ([1,2,3],[4,5])
print(lst)

([1, 2, 3], [4, 5])

In [ ]:
lst_1(range(5,0,-1))

NameError: name 'lst_1' is not defined

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(2, 10)
numbers.pop(-1)
print(numbers)

[1, 2, 10, 3, 4]

In [ ]:
a = (1,2,3)
b = (4,5)
c = a + b
print(c)

(1, 2, 3, 4, 5)

In [ ]:
numbers = [10, 20, 30, 40]
numbers.append([50, 60])
print(numbers)

[10, 20, 30, 40, [50, 60]]

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6]
print(numbers[1:5:2])

[1, 3]

# My name is Danish

In [ ]:
a:str = "Hello World!"
b:str = "Hello World!"
print(id(a))
print(id(b))

136390705628336
136390696262000

In [ ]:
print(hash(a))
print(hash(b))

-3187388506626030486
-3187388506626030486

In [ ]:
print(a.__hash__()) # dunder method

-3187388506626030486

In [ ]:
a = {1 , 2 , 3}
b = {3 , 4 , 5}
print(a & b)

{3}

In [ ]:
a = {[1,2,3]}
print(a)

TypeError: unhashable type: 'list'

In [ ]:
c = {1,2,3,4,4,5}
print(len(c))

5

In [ ]:
d= {1,2,3} - {3,4,5}
print(d)

{1, 2}

In [ ]:
x for x in "hello" if x not in "aeiou"
print(x)

SyntaxError: invalid syntax (<ipython-input-17-04270adb4479>, line 1)

In [ ]:
fs = frozenset( [1, [2, 3] ] )

TypeError: unhashable type: 'list'

In [ ]:
{ frozenset( {1} ) : "value" }

{frozenset({1}): 'value'}

In [ ]:
def add(x:int, y:int=0) -> float:
  return float(x+y)

print(float(add(10,20)))
print(add(x=50.0, y=2.0))
print(add(x=5.0))
print(type(add))

30.0
52.0
5.0
<class 'function'>

In [ ]:
def sum_numbers(*args):
  total = sum(args)
  print("Total:", total)

sum_numbers(1,2,3)
sum_numbers(5,5)

Total: 6
Total: 10

In [ ]:
def user_info(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}:{value}")

user_info(name="Danish", age=30, city="Karachi")

name:Danish
age:30
city:Karachi

In [ ]:
def test_func(*args, **kwargs):
  print("Positional:", args)
  print("Keyword:", kwargs)

test_func(1,2, name="Dansish", age=30)

Positional: (1, 2)
Keyword: {'name': 'Dansish', 'age': 30}

In [ ]:
my_dict = {"apple":5, "banana":2, "cherry":8, "lichie":1}
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))
sorted_dict

{'lichie': 1, 'banana': 2, 'apple': 5, 'cherry': 8}

In [ ]:
sum = lambda arg1, arg2 : arg1 + arg2;
print(sum(10,20))
print(sum(1.1,1))

30
2.1

In [ ]:
import math

print(math.__name__)

math

In [ ]:
import random
import random as rnd

rnd.choice = lambda lst:lst[0]
print(random.choice([1,2,3]), end=" ")
print(rnd.choice([1,2,3]), end=" ")

1 1

In [ ]:
def divide_num(a, b):
    try:
        result = a / b  # Test this block for errors
        # raise FloatingPointError("Testing FloatingPointError")

    # except Exception as e:
    #     print(f"Exception: An unexpected error occurred: {e}")
    except ZeroDivisionError:
        print("ZeroDivisionError: Cannot divide by zero!")
    except TypeError:
        print("TypeError: Invalid input type. Numbers required.")
    # except Exception as e:
    #     print(f"Exception: An unexpected error occurred: {e}")
    else:
        print(f"else: Division successful. Result: {result}")
    finally:
        print("finally: Operation complete.\n")


divide_num(10,2)
divide_num(10.5,2.5)
divide_num(10,0)
divide_num(10,"2")

else: Division successful. Result: 5.0
finally: Operation complete.

else: Division successful. Result: 4.2
finally: Operation complete.

ZeroDivisionError: Cannot divide by zero!
finally: Operation complete.

TypeError: Invalid input type. Numbers required.
finally: Operation complete.

In [ ]:
import math
try:
  square = math.sqrt(-1)
except ValueError as ve:
  print(f"An error occured! ({ve})")

An error occured! (math domain error)

In [ ]:
def check_age(age):
    if age < 18:
        raise ValueError("Age must be 18 or older!")
    return "Age is valid"
try:
    result = check_age(15)
except ValueError as e:
    print(f"Error: {e}")

Error: Age must be 18 or older!

In [ ]:
from typing import NoReturn

def error_function() -> NoReturn:
    return 1 / 0
try:
    error_function()
except Exception as e:
    print("Error:", e)

Error: division by zero

In [ ]:
try:
    result = "Hello" + 5
except TypeError:
    print("An Error occured.")

An Error occured.

In [1]:
x = "10"
y = int(x)
print(type(y))

<class 'int'>

In [13]:
x = "hello" , 5 # This is new for me
print(x)
print(type(x))

('hello', 5)
<class 'tuple'>

In [32]:
x = 10
y = 10
print(x == y)
print(x is y)
print(x is not y)

True
True
False

In [36]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(7,'orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [30]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [46]:
x = "hello"
y = "hel" + "lo"
print(x == y)

True

In [48]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [9]:
x = 10

if x > 10:
  print("x is greater than 10")
elif x == 10:
  print("x is 10")
else:
  print("x is less than 10")

x is less than 10

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-9-0a0cfb476a15>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  x is not 10

In [11]:
if x > 10:
  pass

In [12]:
print(-3**2)

-9

In [13]:
print(3**2*4//5+2)

9

In [15]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1 - set2
print(result)

{1}

In [16]:
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [17]:
import random

print(dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_floor', '_index', '_inst', '_isfinite', '_log', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [19]:
try:
  f = open("file.txt", "r")
except FileNotFoundError:
  print("File not found")
finally:
  f.close()

File not found

NameError: name 'f' is not defined

In [22]:
from posixpath import join
x = list("danish")
print(x)
print(type(x))

['d', 'a', 'n', 'i', 's', 'h']
<class 'list'>

In [24]:
x = "Python"
y = x[:3]
print(y)

Pyt

In [29]:
x = "3"
isinstance(x, str)

True

In [39]:
x = [1,2,3,4,5]
reversed(x)
print(x)

[1, 2, 3, 4, 5]

In [50]:
x:dict = {"name":"ali"}
x["age"] = 25
print(x)

{'name': 'ali', 'age': 25}

In [51]:
x = [2, 4, 6]
x = x * 2
print(x)

[2, 4, 6, 2, 4, 6]

In [52]:
2 == 2

True

In [53]:
list = [1,2,3]
list[0]

1

In [55]:
x = 7
x = 'Python'
x = 9
print(type(x))

<class 'int'>

In [1]:
x = 5
y = 2 * x
x = 3
print(y)

10

In [2]:
s = " 56 "
print(int(s.strip()))

56

In [4]:
for i in range(5):
 if i == 3:
  break
 print(i)

0
1
2

In [6]:
for i in range(3):
 for j in range(2):
  print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [7]:
for i in range(0):
  print(i)

In [8]:
for i in range(3):
 print(i)
else:
 print("Done")

0
1
2
Done

In [9]:
for i in range(5):
 if i % 2 == 0:
  continue
 print(i)

1
3

In [10]:
for i in range(2):
 for j in range(3):
  print(i, j, end=";")

0 0;0 1;0 2;1 0;1 1;1 2;

In [11]:
i = 0
while i < 3:
 print(i, end=" ")
 i += 1
print("Done")

0 1 2 Done

In [13]:
if 0:
 print("Zero is True")
else:
 print("Zero is False")

Zero is False